<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <div th:insert="components/fragments :: head"></div>
</head>
<body>
<div th:insert="components/fragments :: nav_bar"></div>
<div class="container">
    <h1 th:text="${pelicula.titulo}"></h1>
    <p th:text="${pelicula.sinopsis}"></p>
    <p th:text="${pelicula.fecha}"></p>
    <p th:text="${pelicula.nacionalidad}"></p>
    <div class="row">
        <div class="col-md-4">
            <img style="width:320px" th:src="${pelicula.imagen}">
        </div>
        <div class="col-md-8">
            <th:block th:utext="${pelicula.trailer}"></th:block>
        </div>
    </div>
    <h2>Comentarios</h2>
    <div th:each="comentario:${comentarios}">
        <h3 th:text="${comentario.titulo}"></h3>
        <p th:text="${comentario.contenido}"></p>
        <p th:text="${comentario.fecha}"></p>
    </div>

<!--    <div class="container">-->
<!--        <div th:each=""-->
<!--    </div>-->

    <form action="/comentario/add" th:object="${nuevoComentario}" method="post">
        <input type="hidden" name="idPelicula" th:value="${pelicula.id}">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" id="titulo" th:field="*{titulo}" value="Munich">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="contenido"></label>
                <textarea class="form.control" name="contenido" id="contenido" rows="3" th:field="*{contenido}"
                          required></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
</div>
<div th:insert="components/fragments :: footer"></div>
</body>
</html>