<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>El Peliculón</title>
    <div th:insert="components/fragments :: head"></div>
</head>
<body>
<div th:insert="components/fragments :: nav_bar"></div>
<h1>El Peliculón by Zeerom</h1>
<div th:each="pelicula:${cartelera}">
    <h2>
        <a th:href="'/pelicula/' + ${pelicula.id}" th:text="${pelicula.titulo}"></a>
    </h2>
    <br>
    <a th:href="'/pelicula/' + ${pelicula.id}"><img style="width:300px" th:src="'/img/' + ${pelicula.imagen}"></a>
</div>
<div th:insert="components/fragments :: footer"></div>
</body>
</html>